@keyframes tellColor {
    25% {color: yellow;}
    50% {color: orange;}
    75% {color: red;}
}

.slide{
    max-width: 1920px;
}

.slider{
    position: relative;
    overflow: hidden;
    padding-top: 41.5%;
}

.slider-box,
.slick-list,
.slick-track{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-wrap{
    display: block;
    width: 40%;
    color:#fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;

    position: absolute;
    left: 10%;
    top: 30%;

    > h1{
        font-size: 2.2vw;
        line-height: 140%;
    }

    > h4{
        font-size: 1.8vw;
        margin: 2.1vw 0 0 0;
    }

    > h5{
        line-height: 140%;
        font-size: 3vw;
        letter-spacing: 1px;
        margin:0 0 0.7vw 0;
        color: #fff;
        font-weight: 900;
        text-shadow: 3px 3px 4px black;
    }
}

.slide-tell{
    position: absolute;
    width: 47%;
    height: 20%;
    left: 0%;
    top: 80%;

    font-family: 'TmonMonsori';
    font-size: 2vw;
    color: #1b5153;
    font-weight: 900;
    text-align: center;
    line-height: 1.2;

    > span{
        color: YELLOW;
        font-size: 5vw;
        animation: tellColor 5s infinite;
        text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;;
    }
}

.buliding-text{
    /* left: 60%;
    top: 60%; */
    top: 50%;
    color: #fff;
    > h1{
        font-size: 2vw;
    }
}

.slick-arrow{
    position: absolute;
    top: 40%;
    border: none;
    background-color: transparent;
    color: transparent;
    width: 3.5vw;
    padding-bottom: 3.5%;
    cursor: pointer;
    font-size: 1px;
}

.slick-prev{
    left: 3%;
}

.slick-next{
    right: 1.5%;
}

.slick-next::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/assets/icon/arrow_forward_ios_50dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg) 50% 50% no-repeat;
}

.slick-prev::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/src/assets/icon/arrow_back_ios_50dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg)50% 50% no-repeat;
    z-index: 10;
}

@media screen and (max-width: 1199px) {
    /* Medium devices (작은 데스크톱, 세로 모드의 태블릿)의 스타일 */
}

@media screen and (max-width: 991px) {
    /* Small devices (가로 모드의 휴대폰, 작은 태블릿)의 스타일 */
}

@media screen and (max-width: 767px) {
    /* mobile devices (세로 모드의 휴대폰)의 스타일 */
    .slider{
        padding-top: 120%;
    }

    .text-wrap{
        width: 100%;
        background-color: rgb(27, 81, 83);
        left: 0;
        top: 0;
        height: 27%;
        padding: 5% 16% 0;

        > h1{
            font-size: 4vw;
            line-height: 140%;
        }
    
        > h5{
            line-height: 140%;
            font-size: 6vw;
            letter-spacing: 1px;
            margin:0 0 3vw 0;
            color: #fff;
            font-weight: 900;
            text-shadow: 3px 3px 4px black;
        }
    }

    .slide-tell{
        background-color: #1b5153;
        border-radius: 10% 10% 10% 10%;
        letter-spacing: 1px;

        padding: 2%;
        left: -2%;
        top: 90%;
        color: #fff;
        font-weight: 500;
    }

    .buliding-text{
        top: 73%;
        padding-left: 12%;

        > h1{
            font-size: 4vw;
        }
        
        > h5{
            margin: 0 0 1vw 0;
        }
    }

    .slick-arrow{
        top: 60%;
        width: 4vw;
        padding-bottom: 4%;
    }
}